.nav{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    font-weight: bold;

}
.nav ul{
    /* display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    justify-content: space-evenly;
}
.image{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    
    
}
.head{
    height: 300px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    font-size: large;
    background-color: rgb(180, 76, 93);
}
.explore{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    font-size: large;
}
.footer{
    display: grid;
    grid-template-columns:  200px 200px 200px 200px 200px 200px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 100px;
    border: 1px solid;
}

    .ff{
        list-style: none;
        display: grid;
    }